*{
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 600px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    /* border: 2px solid red; */
    gap: 30px;

}
input{
    /* border: 2px solid red; */
    border-radius: 5px;
    height: 40px;
    width: 400px;
}

button{
    /* border: 2px solid red; */
    height: 30px;
    width: 200px;
    background-color: black;
    color: aliceblue;

}